@model Cappuccino.Model.SysTemplateModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<form class="layui-form" lay-filter="formEdit">
    @Html.HiddenFor(x => x.Id)
    <div class="mainBox">
        <div class="main-container">
            <div class="layui-form-item">
                <label class="layui-form-label">模板名称</label>
                <div class="layui-input-block">
                    <input type="text" name="templateName" value="@Model.TemplateName" lay-verify="required" lay-reqtext="请输入模板名称" placeholder="请输入模板名称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">选择文件</label>
                <div class="layui-input-block" style="display: flex; align-items: center;">
                    <input type="text" class="layui-input" id="fileNameInput" placeholder="请选择文件" readonly
                           style="border-right: none; border-top-right-radius: 0; border-bottom-right-radius: 0;" />
                    <button type="button" class="layui-btn layui-btn-normal" id="chooseFileBtn"
                            style="border-top-left-radius: 0; border-bottom-left-radius: 0; margin-left: -1px;">
                        <i class="layui-icon">&#xe621;</i> 浏览...
                    </button>
                </div>
            </div>
            @Html.EnabledMarkRadioHtml("templateStatus", Model.TemplateStatus)
            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea name="Remark" value="@Model.Remark" placeholder="请输入备注信息" class="layui-textarea" rows="3"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">排序码</label>
                <div class="layui-input-block">
                    <input type="text" name="sortCode" value="@Model.SortCode" placeholder="排序码" autocomplete="off" class="layui-input" lay-verify="number" maxlength="2">
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="" lay-filter="edit">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
@section Scripts {
    <script>
        layui.use(['form', 'jquery', 'common'], function () {
            let form = layui.form;
            let $ = layui.jquery;
            let common = layui.common;

            form.on("submit(edit)", function (data) {
                common.ajax("/BusinessManage/SysTemplate/GetList", "post", data.field, true, true).done(function (response) {
                    layer.msg(response.message, { icon: 1, time: 1000 }, function () {
                        parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                        parent.layui.table.reload("tableId");
                    });
                }).fail(function (error) {
                    console.log(error)
                });
                return false;
            });
        });

    </script>
}

